.btn-icon {
    display: flex !important;
    gap: 8px;
    padding: 16px !important;
    align-items: center;
    justify-content: center;
    border-radius: 8px !important;
    &-content {
        font-weight: bold;
    }
}