

$black: #070c0d !default;
$white: #fff !default;

$gray-200: #D9D9D9 !default;
$gray-900: #434343 !default;

$blue-100: #F5F9FF !default;
$blue-200: #C1C7DB !default;
$blue-300: #C9D5FF !default;
$blue-600: #5C78DB !default;
$blue-900: #4D5B8D !default;

$primary:       $blue-900 !default;
// $secondary:     $gray-600 !default;
// $success:       $color-green !default;
$info:          $blue-600 !default;
// $warning:       $yellow !default;
// $danger:        $color-red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;


$themes: (
  "black": $black,
  "white": $white,
  "primary": $primary,
  "info": $info,
) !default;

// Body
//
// Settings for the `<body>` element.
$body-bg:                   #F5F9FF !default;
$body-color:                $blue-900 !default;

$border-radius: 16px !default;

$font-family-base: 'Poppins', sans-serif !default;

$nav-link-color:              $blue-600 !default;
$nav-link-hover-color:        $blue-900 !default;
$nav-tabs-link-active-color:  $blue-900 !default;

$navbar-light-color:                $blue-600  !default;
$navbar-light-hover-color:          $blue-900  !default;
$navbar-light-active-color:         $blue-600  !default;
