@import '../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  background-color: $color-brown-3;
  color: $color-brown-1;
  border-radius: $border-radius;
  &-body {
    padding: .75rem;
  }
  &-footer {
    padding: .75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.icon {
  margin-left: -.25rem;
  margin-right: -.25rem;
  & > * {
    padding-left: .25rem;
    padding-right: .25rem;
  }
}