@import '../../variables.scss';

.palette {
  display: flex;
  &-color {
    flex: 1;
    height: 6rem;
    &.first {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &.last {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}